<aside class="w-72 bg-dark p-4 lg:flex flex-col flex-shrink-0 fixed lg:static h-full  transition-all" [ngClass]="collapse == 'true' ? 'block' : 'hidden'">

    <figure class="flex flex-col items-center space-y-3">
      <img src="../assets/proflle.png" alt="" class="h-32 w-32 rounded-full border-8">
      <figcaption class="text-xl text-gray-100 font-bold tracking-wide">{{name}}</figcaption>
    </figure>


    <div class="mt-4">
      <ul class="flex items-center justify-center space-x-2">

        <li class=" rounded-full p-1 w-8 h-8 flex items-center justify-center bg-gray-900 hover:bg-blue-500">
          <a href="">


            <svg class="w-4 h-4 text-gray-50 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z" />
            </svg>
          </a>
        </li>

        <li class=" rounded-full p-1 w-8 h-8 flex items-center justify-center bg-gray-900 hover:bg-blue-500">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-50" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          </a>
        </li>

        <li class=" rounded-full p-1 w-8 h-8 flex items-center justify-center bg-gray-900 hover:bg-blue-500">
          <a href="">

            <svg class="w-4 h-4 text-gray-50 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path
                d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
              </path>
            </svg>

          </a>
        </li>

        <li class=" rounded-full p-1 w-8 h-8 flex items-center justify-center bg-gray-900 hover:bg-blue-500">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-50" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          </a>
        </li>
        <li class=" rounded-full p-1 w-8 h-8 flex items-center justify-center bg-gray-900 hover:bg-blue-500">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-50" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          </a>
        </li>

      </ul>
    </div>

    <div class="mt-8">
      <ul class="space-y-8">


        <!-- *ngFor="let menu of menus" -->

        <li class="text-gray-100 flex space-x-2 group">
          <a href="#" class="text-blue-400"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg></a>
          <a href="#">Home </a>
        </li>

        <li class="text-gray-100 flex space-x-2 group">
          <a href="#" class="group-hover:text-blue-400"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
              fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg></a>
          <a href="#">About</a>
        </li>

        <li class="text-gray-100 flex space-x-2 group">
          <a href="#" class="group-hover:text-blue-400"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
              fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg></a>
          <a href="#">Resume</a>
        </li>

        <li class="text-gray-100 flex space-x-2">
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg></a>
          <a href="#">Portfolio</a>
        </li>

        <li class="text-gray-100 flex space-x-2">
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg></a>
          <a href="#">Services</a>
        </li>

        <li class="text-gray-100 flex space-x-2 ">
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg></a>
          <a href="#">Contact</a>
        </li>

      </ul>
    </div>


    <div class="text-white text-center text-sm font-normal absolute bottom-4">
      © Copyright Designed by {{name}}
    </div>

  </aside>