<section class="py-10 bg-blue-50">
    <div class="space-y-8 p-4">
      <div class="space-y-2">
        <h2 class="text-2xl text-headingColor font-bold">Portfolio
        </h2>
        <div class="w-20 h-1 bg-blue-300"> </div>
      </div>

      <p class="text-gray-900 leading-wider">
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur
        velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste
        officiis
        commodi quidem hic quas.


      </p>
    </div>

    <div class="bg-white mx-auto rounded-full p-2 my-4" style="width: 250px">
      <ul class="flex space-x-8 justify-center">
        <li class="text-gray-800 font-bolder">
          <a href="">All</a>
        </li>
        <li class="text-gray-800 font-bolder">
          <a href="">APP</a>
        </li>
        <li class="text-gray-800 font-bolder">
          <a href="">CARD</a>
        </li>
        <li class="text-gray-800 font-bolder">
          <a href="">WEB</a>
        </li>
      </ul>
    </div>





    <div class="p-4">

      <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        <div class="relative group">
          <img src="../assets/pic2.png" alt="" class="w-full hover:transform skew-y-2">
          <div class="absolute opacity-80 bottom-0 w-full hidden group-hover:block">

            <div class="flex items-center justify-center space-x-0.5">


              <div class="w-1/2 flex justify-center items-center bg-blue-500 py-2 text-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>
              </div>


              <div class="w-1/2 flex justify-center items-center bg-blue-500 py-2 text-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>
              </div>


            </div>
          </div>
        </div>


        <div class="">
          <img src="../assets/pic2.png" alt="" class="w-full">
        </div>
        <div class="">
          <img src="../assets/a1.png" alt="" class="w-full">
        </div>
        <div class="">
          <img src="../assets/a2.png" alt="" class="w-full">
        </div>
        <div class="">
          <img src="../assets/a3.png" alt="" class="w-full">
        </div>
        <div class="">
          <img src="../assets/a4.png" alt="" class="w-full">
        </div>

      </div>




    </div>









  </section>