<section class="py-10 bg-blue-50">
    <div class="space-y-8 p-4">
      <div class="space-y-2">
        <h2 class="text-2xl text-headingColor font-bold">Skills
        </h2>
        <div class="w-20 h-1 bg-blue-300"> </div>
      </div>

      <p class="text-gray-900 leading-wider">
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur
        velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste
        officiis
        commodi quidem hic quas.


      </p>
    </div>

    <div class="flex flex-wrap mt-4 ">

      <div class="w-full md:w-1/2 p-4">
        <div class="">
          <div class="flex justify-between">
            <p>HTML</p>
            <p>80%</p>
          </div>
          <div class="bg-blue-500 h-2 relative top-2 px-2" style="width:80%"></div>
          <div class="bg-gray-200 w-full px-2 h-2"></div>
        </div>
      </div>
    

      <div class="w-full md:w-1/2 p-4">
        <div class="">
          <div class="flex justify-between">
            <p>CSS</p>
            <p>80%</p>
          </div>
          <div class="bg-blue-500 h-2 relative top-2 px-2" style="width:80%"></div>
          <div class="bg-gray-200 w-full px-2 h-2"></div>
        </div>
      </div>

      <div class="w-full md:w-1/2 p-4">
        <div class="">
          <div class="flex justify-between">
            <p>JavaScript</p>
            <p>40%</p>
          </div>
          <div class="bg-blue-500 h-2 relative top-2 px-2" style="width:40%"></div>
          <div class="bg-gray-200 w-full px-2 h-2"></div>
        </div>
      </div>


      <div class="w-full md:w-1/2 p-4">
        <div class="">
          <div class="flex justify-between">
            <p>Jquery</p>
            <p>60%</p>
          </div>
          <div class="bg-blue-500 h-2 relative top-2 px-2" style="width:60%"></div>
          <div class="bg-gray-200 w-full px-2 h-2"></div>
        </div>
      </div>

      <div class="w-full md:w-1/2 p-4">
        <div class="">
          <div class="flex justify-between">
            <p>Bootstrap</p>
            <p>60%</p>
          </div>
          <div class="bg-blue-500 h-2 relative top-2 px-2" style="width:60%"></div>
          <div class="bg-gray-200 w-full px-2 h-2"></div>
        </div>
      </div>


      <div class="w-full md:w-1/2 p-4">
        <div class="">
          <div class="flex justify-between">
            <p>Tailwind</p>
            <p>60%</p>
          </div>
          <div class="bg-blue-500 h-2 relative top-2 px-2" style="width:60%"></div>
          <div class="bg-gray-200 w-full px-2 h-2"></div>
        </div>
      </div>


    </div>




  </section>