<section class=" py-20 p-4">
    <div class="space-y-2">
      <h2 class="text-2xl text-headingColor font-bold">Facts
      </h2>

      <div class="w-20 h-1 bg-blue-300"> </div>
      <p class="text-gray-30 leading-wider">
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur
        velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste
        officiis
        commodi quidem hic quas.


      </p>
    </div>


    <div class="flex flex-col md:flex-row justify-center space-x-2 py-10 space-y-8 md:space-y-0">

      <div class="w-full lg:w-1/4 ">
        <div class="flex space-x-2 justify-center">
          <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-blue-300" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>
          <div class="">
            <h2 class="text-5xl font-bold">332</h2>
            <p class="text-md font-bold">Happy Clients</p>
            <p class="text-sm">consequuntur quae</p>
          </div>
        </div>
      </div>


      <div class="w-full lg:w-1/4 ">
        <div class="flex space-x-2 justify-center">
          <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-blue-300" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>
          <div class="">
            <h2 class="text-5xl font-bold">521</h2>
            <p class="text-md font-bold">Projects adipisci atque</p>
            <p class="text-sm">cum quia aut</p>
          </div>
        </div>
      </div>


      <div class="w-full lg:w-1/4 ">
        <div class="flex space-x-2 justify-center">
          <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-blue-300" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>
          <div class="">
            <h2 class="text-5xl font-bold">1453</h2>
            <p class="text-md font-bold">Hours Of Support aut</p>
            <p class="text-sm">commodi quaerat</p>
          </div>
        </div>
      </div>

      <div class="w-full lg:w-1/4 ">
        <div class="flex space-x-2 justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-blue-300" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
          <div class="">
            <h2 class="text-5xl font-bold">32</h2>
            <p class="text-md font-bold">Hard Workers rerum</p>
            <p class="text-sm">asperiores dolor</p>
          </div>
        </div>
      </div>

    </div>



  </section>